<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include tagmanager.html %}
    {% include header.html %}

    <div class="page-content main-page">
      <div class="wrapper">
        <div align="center">
          <h3>
          Welcome to the History Center <br> of the Church in Manila<br>
          歡迎來到馬尼拉教會歷史中心</h3>
          <br>

          <p>
          Please select your language<br>
          請選擇您的語言</p>
          <br>
          <h2><a href="https://historycenter.churchinmanila.org/en/welcome">English</a></h2>
          <br>
          <h2><a href="https://historycenter.churchinmanila.org/zh/welcome">中文</a></h2>
          <br>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
