<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include tagmanager.html %}
    {% include header.html %}

    <div class="page-content main-page">
      <div class="wrapper">
        <div align="center">
          <br><br><br>
          <h1>
          Welcome<br>
          歡迎光臨</h1>
          <br><br><br>

          <p>
          Please select your language<br>
          請選擇您的語言</p>
          <br><br>
          <h2><a href="https://historycenter.churchinmanila.org/en/welcome">English</a></h2>
          <br>
          <!-- <h2><a href="https://historycenter.churchinmanila.org/zh/welcome">中文</a></h2> -->
          <h3>中文 (即將推出)</h3>
          <br><br><br>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
